.pxbx-parent-link{
  text-decoration: none;
  display: block;
  margin: .75em 0 .5em;
}

td.column-title strong{
  margin-bottom: 0;
}

.pxbx-grid, .pxbx-grid *{
  box-sizing: border-box;
}

.pxbx-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  padding: 15px;
  border: 1px solid #ddd;
  box-shadow: 0 1px 1px -1px rgba(0,0,0,.1);
  background-color: rgba(0,0,0,0.5);
}

.pxbx-album{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.pxbx-album-anchor[href]{
  width: 100%;
  display: flex;
  padding: 0 5px;
  color: white;
  font-size: 1.2em;
  text-align: center;
  text-decoration: none;
  flex-direction: column;
  transition: transform 0.1s;
  margin-bottom: 0.125em;
}

/*.pxbx-album-anchor:hover{
  transform: scale(1.01);
  transition: transform 0.15s;
}*/

.pxbx-album-anchor::before{
  content: url('../images/folder.svg');
  flex:1;
  filter: drop-shadow( 3px 3px 3px rgba(0, 0, 0, .4));
  transition: filter 0.1s;
}

/*.pxbx-album-anchor:hover::before{
  filter: drop-shadow( 5px 5px 5px rgba(0, 0, 0, .4));
  transition: filter 0.15s;
}*/

.pxbx-album-tools{
  display: flex;
  justify-content: center;
}

.pxbx-tool-link, .pxbx-tool-link[href]{
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: .9rem;
  opacity: 0.5;
}

.pxbx-album:hover .pxbx-tool-link,
.pxbx-album:hover .pxbx-tool-link[href]{
  opacity: 1;
}

.pxbx-album:hover .pxbx-tool-link:hover,
.pxbx-album:hover .pxbx-tool-link:active,
.pxbx-album:hover .pxbx-tool-link:focus{
  opacity: 0.8;
}

.pxbx-album-tools > .pxbx-edit-link{
  margin-right: 1em;
}

.pxbx-delete-link, .pxbx-delete-link[href]{
  color: #ff6868;
}

.pxbx-album-tools input[type=checkbox]{
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.pxbx-delete-confirmation{
  display: none;
}

.pxbx-delete-button{
  padding:0;
  background:transparent;
  border:none;
  cursor: pointer;
}

.pxbx-album-tools label{
  vertical-align: inherit;
}

.pxbx-album-tools input[type=checkbox]:checked ~ label.pxbx-delete-link,
.pxbx-album-tools input[type=checkbox]:checked ~ .pxbx-edit-link{
  display: none;
}

.pxbx-album-tools input[type=checkbox]:checked ~ .pxbx-delete-confirmation{
  display: inline;
}

@media screen and (min-width: 576px){
  .pxbx-grid{
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 768px){
  .pxbx-grid{
    grid-template-columns: repeat(5, 1fr);
  }
}